{% load static %}

<footer>
    <div class="footer-item">
        <img src="{% static 'assets/img/vendas.svg' %}" alt="Vendas_icon">
        <p>Vendas</p>
    </div>

    <div class="footer-item">
        <img src="{% static 'assets/img/financeiro.svg' %}" alt="Financeiro_icon">
        <p>Financeiro</p>
    </div>

    <div class="footer-item">
        <img src="{% static 'assets/img/estoque.svg' %}" alt="Estoque_icon">
        <p>Estoque</p>
    </div>

    <div class="footer-item">
        <img src="{% static 'assets/img/relatorios.svg' %}" alt="Relatórios_icon">
        <p>Relatórios</p>
    </div>
</footer>