{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/acesso/TelaAcesso.css' %}">
{% endblock %}

{% block title%}Acesso{% endblock %}

{% block content %}

    <div id="acesso">
    
        <div class="parte-inicial-azul">
            <div class="saudacao">
                <div class="title">
                    <p>Olá, ${nomeUsuario}</p>
                </div>
                
                <p class="empresa_dados">${empresa_nome} - ${empresa_localizacao}</p>
                <p class="cnpj">CNPJ: ${formatCnpj(cnpj)} </p>

                <div class="trocar-empresa" id="trocar_empresa">
                    <img src="{% static 'assets/img/acesso/icon_seta_trocar.svg' %}" alt="p">
                    <p>Trocar Empresa</p>
                </div>

                <!--AREA TROCAR EMPRESAS OPCOES DE EMPRESAS -->
                <div id="sobreposicao" style="display: none;"></div>
                <div class="opcao-empresas" id="opcao_empresa">
                    <div class="container-opcao" >
                        <div class="op-title" >
                            <p>Trocar empresa</p>
                        </div>

                        <div class="input-pesquisar">
                            <input type="text" placeholder="Buscar por nome fantasia, cidade ou CNPJ">
                        </div>

                        <div class="area-empresas-box">

                            <div class="box-empresa" v-for="empresas in trocar_empresa" @click="selectCnpj(empresas.cnpj)">
                                <div class="box-empresa-text">
                                    <p class="nome-empresa">
                                        ${empresas.name} 
                                    </p>
    
                                    <p class="cnpf-e-localizacao">
                                        CNPJ: ${formatCnpj(empresas.cnpj)} - ${empresas.address.street_name} 
                                    </p>
                                </div>
                            </div>
 
                        </div>
                    </div>
                    
                </div>
                <!-- END AREA TROCAR EMPRESAS OPCOES DE EMPRESAS -->


            </div>
            <div class="data" >
                <img src="{% static 'assets/img/acesso/calendar.svg' %}" alt="calendario">
                <p id="icon_data">Data</p>
            </div>

            <!--CALENDARIO-->

            <div class="wrapper" id="calendario">
                <header>
            
                  <div class="icons">
                    <div class="seta-esq-calendar" @click="changeMonth('prev')">
                      <span id="prev" class="material-symbols-rounded"> <img src="{% static 'assets/img/acesso/seta-esquerda.svg' %}" alt=""> </span>
                    </div>
                    <div class="mes-definido">
                      <p class="current-date"></p>
                      <p class="current-year"></p>
                    </div>
            
                    <div class="seta-dir-calendar" @click="changeMonth('next')">
                      <span id="next" class="material-symbols-rounded"> <img src="{% static 'assets/img/acesso/seta-direita.svg' %}" alt=""></span>
                    </div>
                  </div>
                </header>
                <div class="calendar">
                  <ul class="weeks">
                    <li>Dom</li>
                    <li>Seg</li>
                    <li>Ter</li>
                    <li>Qua</li>
                    <li>Qui</li>
                    <li>Sex</li>
                    <li>Sab</li>
                  </ul>
                  <ul class="days">
                    
                  </ul>
                </div>
              </div>

            <!--FIM DO CALENDARIO-->

            <div class="parte-semanal">
                <div class="seta-esq" id="seta-esq" @click="diminuirData">
                    <img src="{% static 'assets/img/acesso/seta-esquerda.svg' %}" alt="seta-esq">
                </div>
                <div class="dia-dia">
                    <p v-if="!bool_dataUn">${formatarData(dia1.date)} a ${formatarData(dia7.date)}</p>
                    <p v-if="bool_dataUn">${formatarData(data_unica)}</p>
                </div>
                <div class="seta-dir" id="seta-dir" @click="aumentarData">
                    <img src="{% static 'assets/img/acesso/seta-direita.svg' %}" alt="seta-dir">
                </div>
            </div>
        </div>
       
        <div class="dashboard">

            <div class="container">
                <div class="graphic"    >
                    <canvas id="myChart" width="100" height="100"></canvas>
                </div>
    
                <div class="area-card-vendas-totais">
                    <div class="card">
                        <p class="card-titulo">
                            Vendas totais
                        </p>
    
                        <p class="card-valor">
                            R$ ${vendas_totais}
                        </p>
    
                        <p class="quantidades-vendidas">
                            ${quantidades_vendidas} quantidades vendidas
                        </p>
    
                    </div>
    
                    <div class="card">
                        <p class="card-titulo">
                            Total de desconto
                        </p>
    
                        <p class="card-valor">
                            R$ ${desconto_total}
                        </p>
                    </div>
                </div>
    
                <div class="area-vendas-totais">
                    <p class="vendas-totais-titulo">Vendas totais</p>

                    <div class="conteudo">
                        <div class="nome-coluna">
                            <div class="descricao">
                                <p>Descrição</p>
                            </div>

                            <div class="total-de-vendas">
                                <p>Total de vendas</p>
                            </div>

                            <div class="qtd-vendas">
                                <p>Quantidade de vendas</p>
                            </div>
                        </div>

                        <div class="valores">
                            <div class="total-geral">
                                <p>Total geral</p>
                            </div>

                            <div class="total-de-vendas-valor">
                                <p>R$ ${vendas_totais}</p>
                            </div>
    
                            <div class="qtd-vendas-valor">
                                <p>${quantidades_vendidas}</p>
                            </div>

                        </div>
                        
                        
                    </div>
                </div>

                <div class="ticket-medio-area">
                    <p class="title">Ticket médio</p>

                    <div class="ticket-medio">
                        <div class="nome-coluna">
                            <div class="coluna-dia">
                                <p>Dia</p>
                            </div>

                            <div class="coluna-qtd">
                                <p>Quantidade</p>
                            </div>

                            <div class="coluna-total-vendas">
                                <p>Total de vendas</p>
                            </div>

                            <div class="coluna-media">
                                <p>Média</p>
                            </div>
                        </div>
                        <div class="valores-ticket-medio" v-for="venda in vendas" :key="venda.date">
                            <div class="valor-dia">
                                <p>${formatDate(venda.date)}</p>
                            </div>

                            <div class="valor-qtd">
                                <p>${venda.sales_count}</p>
                            </div>

                            <div class="valor-total-vendas">
                                <p>R$ ${venda.sales_value}</p>
                            </div>

                            <div class="valor-media">
                                <p>${venda.average_sale_value}</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <br>
            <br>
            <br>
                <footer id="footer">
                    <div class="footer-item">
                        <img src="{% static 'assets/img/vendas.svg' %}" alt="Vendas_icon">
                        <p>Vendas</p>
                    </div>
                
                    <div class="footer-item">
                        <img src="{% static 'assets/img/financeiro.svg' %}" alt="Financeiro_icon">
                        <p>Financeiro</p>
                    </div>
                
                    <div class="footer-item">
                        <img src="{% static 'assets/img/estoque.svg' %}" alt="Estoque_icon">
                        <p>Estoque</p>
                    </div>
                
                    <div class="footer-item">
                        <img src="{% static 'assets/img/relatorios.svg' %}" alt="Relatórios_icon">
                        <p>Relatórios</p>
                    </div>
                </footer>
        </div>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.js"></script>
    <script src="{% static 'js/TelaAcesso.js' %}"></script>

{% endblock %}